.title {
	height: 3rem;
	border: none;
	border-bottom: 1px solid #b4bcbf;
	background-color: #dfe6e9;
}

.title:hover,
.title:active,
.title:focus,
.title:visited {
	background-color: #ffffff;
}

.title-inner {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.movie-name {
	margin: 0 auto 0 50px;
}

@media (max-width: 980px) {
	.title-inner {
		font-size: 0.7rem;
	}
}

@media (max-width: 844px) {
	.movie-name {
		margin: 0 auto 0 20px;
	}
}

@media (max-width: 798px) {
	.title-inner {
		font-size: 0.6rem;
	}
}
