.summary-wrapper {
	margin: 25px auto;
	flex-direction: column;
	width: 60%;
	line-height: 1.6;
}

.summary-wrapper-default {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.summary {
	width: 60%;
	margin: 20px auto;
	padding: 0px 50px;
	line-height: 1.6;
}

.summary-title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.summary-opening_crawl {
	margin-bottom: 1rem;
}

@media (max-width: 1274px) {
	.summary-wrapper {
		width: 80%;
	}
	.summary-title {
		font-size: 1.2rem;
	}
}

@media (max-width: 980px) {
	.summary-wrapper {
		font-size: 0.9rem;
	}
	.summary-title {
		font-size: 1rem;
	}
}

